# object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Makefile
*.log
*.status

# Scripts
*.sh
*.o
*.a
*.exe

tepla/GPATH
tepla/GRTAGS
tepla/GSYMS
tepla/GTAGS
tepla/cscope.out
tepla/Makefile
tepla/config.h
tepla/config.log
tepla/config.status
tepla/src/tepla/Makefile
tepla/src/tepla/ec_bn254/Makefile
tepla/src/tepla/ec_bn254/test/Makefile
